<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheResultFile=".tmp/PHPUnit/.phpunit.result.cache"
    colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory=".tmp/PHPUnit"/>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Fixers</directory>
        </exclude>
    </source>
</phpunit>
