<?xml version="1.0" ?>
<psalm
    xmlns="https://getpsalm.org/schema/config"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    resolveFromConfigFile="true"
    errorBaseline="psalm-baseline.xml"
    allowStringToStandInForClass="true"
>
    <projectFiles>
        <directory name="src" />
        <ignoreFiles>
            <directory name="src/Fixers" />
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <PropertyNotSetInConstructor errorLevel="info" />
    </issueHandlers>
</psalm>
